<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

<body>
    <nav>
      <ul>
        <li>
          <a href="/users">All users</a>
        </li>
        <li>
          <a href="/photos">All public photos</a>
        </li>
        <li>
          <a href="/">Sign in or Username</a>
        </li>
        <li>
          <a href="/">Sign up or Sign out</a>
        </li>
      </ul>
    </nav>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
